<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net47" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="estebano.ScintillaNET.WPF" version="2.6.0" targetFramework="net47" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="2.3.0" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks.Modern" version="2.3.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="WpfAnimatedGif" version="1.4.18" targetFramework="net47" />
</packages>